.form__button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #706b6b;
  border-radius: 5px;
  color: white;
  font-style: bold;
}

.form__button:hover {
  background-color: #958c8c;
}

.form__button:active {
  background-color: #454242;
}